@model ProjectWebApp.Models.MENU_SUB

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Detalle <small></small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="col-md-3 col-sm-3 col-xs-12 profile_left">

                    <ul class="list-unstyled user_data">
                        <li>
                            <label for="name">
                                Texto:
                            </label> @Model.TEXTO
                        </li>

                        <li>
                            <label for="name">
                                Referencia:
                            </label>  @Model.REFERENCIA
                        </li>
                        <li>
                            <label for="name">
                                Rol:
                            </label>  @Model.TIPO_ROL.NOMBRE_ROL
                        </li>
                        <li>
                            <label for="name">
                                Menu Padre:
                            </label>  @Model.MENU.TEXTO
                        </li>
                        <li>
                            <label for="name">
                                CRUD:
                            </label>  @Model.CRUD
                        </li>
                        <li>
                            <label for="name">
                                Controller:
                            </label>  @Model.CONTROLLER
                        </li>
                        <li>
                            <label for="name">
                                Action:
                            </label>  @Model.ACTION
                        </li>
                    </ul>

                    <a href="/MENU_SUB/Edit/@Model.MENU_ID" class="btn btn-success"><i class="fa fa-edit m-right-xs"></i>Editar Menusub</a>
                    <br>


                </div>

            </div>
        </div>

    </div>
</div>


