@model ProjectWebApp.Models.DOCUMENTOS

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DOCUMENTOS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FECHA_INGRESO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_INGRESO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOCUMENTO_DIGITAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOCUMENTO_DIGITAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PATH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PATH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CONTRATOS.DOCUMENTO_GENERADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONTRATOS.DOCUMENTO_GENERADO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRESUPUESTO.COD_SOLICITUD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRESUPUESTO.COD_SOLICITUD)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
