@model IEnumerable<ProjectWebApp.Models.DOCUMENTOS>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FECHA_INGRESO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOCUMENTO_DIGITAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PATH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CONTRATOS.DOCUMENTO_GENERADO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRESUPUESTO.COD_SOLICITUD)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FECHA_INGRESO)
        </td>
        <td>

            <a href="#" src="data:@item.MIME_TYPE;base64,@System.Convert.ToBase64String(item.DOCUMENTO_DIGITAL)">@item.NOMBRE_ARCHIVO</a>

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PATH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CONTRATOS.DOCUMENTO_GENERADO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRESUPUESTO.COD_SOLICITUD)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_DOCUMENTO }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_DOCUMENTO }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_DOCUMENTO })
        </td>
    </tr>
}

</table>
