@model ProjectWebApp.Models.CLIENTES

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}


<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Clientes</h3>
        </div>
        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Editar <small></small></h2>
                    @*<ul class="nav navbar-right panel_toolbox">
                            <li>
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="#">Settings 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Settings 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>*@
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form class="form-horizontal form-label-left" method="post">
                        @Html.AntiForgeryToken()
                        @*<p>
                                For alternative validation library <code>parsleyJS</code> check out in the <a href="form.html">form page</a>
                            </p>*@
                        @*<span class="section">Personal Info</span>*@
                        @Html.HiddenFor(model => model.ID_CLIENTE)
                        @*<div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="textarea">
                                Usuario <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.DropDownList("ID_USUARIO", (IEnumerable<SelectListItem>)ViewBag.Usuario, "-- Seleccione Usuario --", htmlAttributes: new { @class = "form-control col-md-7 col-xs-12", requiered = "requiered" })
                            </div>
                        </div>*@
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="textarea">
                                Tipo Cliente <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.DropDownList("ID_TIPO", (IEnumerable<SelectListItem>)ViewBag.Tipo_cliente, "-- Seleccione Tipo de Cliente --", htmlAttributes: new { @class = "form-control col-md-7 col-xs-12", requiered = "requiered", disabled="disabled"})
                            <input type="hidden" value="@Model.ID_TIPO" name="ID_TIPO" />
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="textarea">
                                Plan de Pago <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.DropDownList("ID_PLAN", (IEnumerable<SelectListItem>)ViewBag.Plan_pago, "-- Seleccione Plan de Pago --", htmlAttributes: new { @class = "form-control col-md-7 col-xs-12", requiered = "requiered", disabled = "disabled" })
                                <input type="hidden" value="@Model.ID_PLAN" name="ID_PLAN" />
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                Rut <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="rut" name="rut" required="required" class="form-control col-md-7 col-xs-12" value="@Model.RUT" disabled="disabled">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                Nombre Razón Social <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="nombre_razon_social" name="nombre_razon_social" required="required" class="form-control col-md-7 col-xs-12" value="@Model.NOMBRE_RAZON_SOCIAL" disabled="disabled">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="textarea">
                                Comuna <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.DropDownList("ID_COMUNA", (IEnumerable<SelectListItem>)ViewBag.Comuna, "-- Seleccione Comuna --", htmlAttributes: new { @class = "form-control col-md-7 col-xs-12", requiered = "requiered" })
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                Dirección <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="direccion" name="direccion" required="required" class="form-control col-md-7 col-xs-12" value="@Model.DIRECCION">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">
                                Correo Electrónico <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="email" id="correo" name="correo" required="required" class="form-control col-md-7 col-xs-12" value="@Model.CORREO">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="telephone">
                                Contacto <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="contacto" name="contacto" required="required" class="form-control col-md-7 col-xs-12" value="@Model.CONTACTO">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="telephone">
                                Fono 1 <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="fono1" name="fono1" required="required" class="form-control col-md-7 col-xs-12" value="@Model.FONO1">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="telephone">
                                Fono 2 <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="fono2" name="fono2" required="required" class="form-control col-md-7 col-xs-12" value="@Model.FONO2">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                Observaciones <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="observaciones" name="observaciones" required="required" class="form-control col-md-7 col-xs-12" value="@Model.OBSERVACIONES">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                Status <span class="required">*</span><!--Definir como se va a mostrar campo al usuario-->
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="status" name="status" required="required" class="form-control col-md-7 col-xs-12" value="@Model.STATUS_ACTIVACION" disabled="disabled">
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">
                                <button type="submit" class="btn btn-primary">Cancel</button>
                                <button id="send" type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                    <div class="actionBar">
                        @*<a href="#" class="buttonFinish buttonDisabled btn btn-default">Finish</a>
                            <a href="#" class="buttonNext btn btn-success">Next</a>*@
                        @Html.ActionLink("Volver a Listado", "Index", null, new { @class = "buttonPrevious btn btn-primary" })
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



