@model IEnumerable<ProjectWebApp.Models.CLIENTES>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Lista de Clientes</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            @Html.ActionLink("Crear cliente", "Create")
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div id="datatable-buttons_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">

                <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline" cellspacing="0" width="100%" role="grid" aria-describedby="datatable-responsive_info" style="width: 100%;">
                    <thead>
                        <tr role="row">

                            <th class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" style="width: auto;" aria-label="Position: activate to sort column ascending">@Html.DisplayNameFor(model => model.USUARIOS)</th>
                            <th class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" style="width: auto;" aria-label="Position: activate to sort column ascending">@Html.DisplayNameFor(model => model.TIPO_CLIENTE)</th>
                            <th class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" style="width: auto;" aria-label="Position: activate to sort column ascending">@Html.DisplayNameFor(model => model.PLAN_PAGO)</th>
                            <th class="sorting_asc" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" style="width: auto;" aria-sort="ascending" aria-label="Name: activate to sort column descending">@Html.DisplayNameFor(model => model.RUT)</th>
                            <th class="sorting_asc" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" style="width: auto;" aria-sort="ascending" aria-label="Name: activate to sort column descending">@Html.DisplayNameFor(model => model.NOMBRE_RAZON_SOCIAL)</th>
                            <th class="sorting_asc" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" style="width: auto;" aria-sort="ascending" aria-label="Name: activate to sort column descending">@Html.DisplayNameFor(model => model.STATUS_ACTIVACION)</th>


                            <th class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" style="width: 200px;" aria-label="Salary: activate to sort column ascending">Acción</th>
                        </tr>
                    </thead>


                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr ole="row" class="odd">
                                <td>
                                    @Html.DisplayFor(modelItem => item.USUARIOS.USER)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TIPO_CLIENTE.NOMBRE_TIPO)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PLAN_PAGO.PLAN)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RUT)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NOMBRE_RAZON_SOCIAL)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.STATUS_ACTIVACION)
                                </td>
                                <td>
                                    @Html.ActionLink("Editar", "Edit", new { id = item.ID_CLIENTE }) |
                                    @Html.ActionLink("Detalle", "Details", new { id = item.ID_CLIENTE }) |
                                    @Html.ActionLink("Eliminar", "Delete", new { id = item.ID_CLIENTE })
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
                <div class="dataTables_paginate paging_simple_numbers" id="datatable-buttons_paginate">
                </div>
            </div>
        </div>
    </div>
</div>





@section Scripts{
    <!-- Datatables -->
    <script>
        $(document).ready(function () {
            var handleDataTableButtons = function () {
                if ($("#datatable-buttons").length) {
                    $("#datatable-buttons").DataTable({
                        dom: "Bfrtip",
                        buttons: [
                            {
                                extend: "copy",
                                className: "btn-sm"
                            },
                            {
                                extend: "csv",
                                className: "btn-sm"
                            },
                            {
                                extend: "excel",
                                className: "btn-sm"
                            },
                            {
                                extend: "pdfHtml5",
                                className: "btn-sm"
                            },
                            {
                                extend: "print",
                                className: "btn-sm"
                            },
                        ],
                        responsive: true
                    });
                }
            };

            TableManageButtons = function () {
                "use strict";
                return {
                    init: function () {
                        handleDataTableButtons();
                    }
                };
            }();

            $('#datatable').dataTable();

            $('#datatable-keytable').DataTable({
                keys: true
            });

            $('#datatable-responsive').DataTable();

            $('#datatable-scroller').DataTable({
                ajax: $.ajax({
                    url: "https://apinotaria.azurewebsites.net/api/NOTARIA_TRAMITE/",
                    async: true,
                    cache: true,
                    timeout: 60000,
                    method: "GET",
                    dataType: 'json',
                    success: function (result) {
                        //console.log(result[0].NOTARIA_VALOR);
                        $.each(result, function (k, v) {
                            console.log(k);
                            console.log(v);

                            var new_item = $("#GEN_BASE").clone().removeAttr("id");
                            //new_item.find("#r_Categoria").text(v.NOTARIA_CATEGORIA.NOM_CATEGORIA);
                            //new_item.find("#r_Nombre").text(v.NOMBRE_TRMT);
                            //new_item.find("#r_Valor").text("$ " + formatNumber.new(v.NOTARIA_VALOR.VALOR_VLR)).css("font-weight", "bold");
                            //new_item.find("#r_Codigo").text("NT_BGC" + v.ID_TRMT);
                            //new_item.removeAttr("style")
                            $("#R_GEN").append(new_item);
                        });

                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.status);
                        alert(thrownError);
                    }
                }),
                deferRender: true,
                scrollY: 380,
                scrollCollapse: true,
                scroller: true
            });

            $('#datatable-fixed-header').DataTable({
                fixedHeader: true
            });

            var $datatable = $('#datatable-checkbox');

            $datatable.dataTable({
                'order': [[1, 'asc']],
                'columnDefs': [
                    { orderable: false, targets: [0] }
                ]
            });
            $datatable.on('draw.dt', function () {
                $('input').iCheck({
                    checkboxClass: 'icheckbox_flat-green'
                });
            });

            TableManageButtons.init();
        });
    </script>
    <!-- /Datatables -->

}