@model IEnumerable<LexAbogadosWeb.Models.TIPO_CLIENTE>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

@*<h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NOMBRE_TIPO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TIMESTAMP)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NOMBRE_TIPO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TIMESTAMP)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID_TIPO_CLIENTE }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID_TIPO_CLIENTE }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID_TIPO_CLIENTE })
                </td>
            </tr>
        }

    </table>*@


<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Lista de Tipos Clientes</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            @Html.ActionLink("Crear Tipo Cliente", "Create")
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            @*<p class="text-muted font-13 m-b-30">
                    The Buttons extension for DataTables provides a common set of options, API methods and styling to display buttons on a page that will interact with a DataTable. The core library provides the based framework upon which plug-ins can built.
                </p>*@
            <div id="datatable-buttons_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">

                <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline" cellspacing="0" width="100%" role="grid" aria-describedby="datatable-responsive_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th class="sorting_asc" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" style="width: auto;" aria-sort="ascending" aria-label="Name: activate to sort column descending">@Html.DisplayNameFor(model => model.NOMBRE_TIPO)</th>                            
                            <th class="sorting" tabindex="0" aria-controls="datatable-buttons" rowspan="1" colspan="1" style="width: 200px;" aria-label="Salary: activate to sort column ascending">Acción</th>
                        </tr>
                    </thead>


                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr ole="row" class="odd">
                                <td>
                                    @Html.DisplayFor(modelItem => item.NOMBRE_TIPO)
                                </td>                                
                                <td>
                                    @Html.ActionLink("Editar", "Edit", new { id = item.ID_TIPO_CLIENTE }) |
                                    @Html.ActionLink("Detalle", "Details", new { id = item.ID_TIPO_CLIENTE }) |
                                    @Html.ActionLink("Eliminar", "Delete", new { id = item.ID_TIPO_CLIENTE })
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
                <div class="dataTables_paginate paging_simple_numbers" id="datatable-buttons_paginate">
                </div>
            </div>
        </div>
    </div>
</div>


