@model ProjectWebApp.Models.MENU

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<h2>Eliminar</h2>

<h3>¿Seguro que desea eliminar este registro?</h3>
<div>
    <h4>Menú</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Texto:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEXTO)
        </dd>

        <dt>
            Referencia:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.REFERENCIA)
        </dd>
        <dt>
            Rol:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPO_ROL.NOMBRE_ROL)
        </dd>        
        <dt>
            Controller:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CONTROLLER)
        </dd>
        <dt>
            Action:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACTION)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-md-6 col-md-offset-3">
                <button type="submit" class="btn btn-default" value="Delete">Eliminar</button>
                @Html.ActionLink("Volver a Listado", "Index")
            </div>
        </div>
    }
</div>
