@model ProjectWebApp.Models.ASISTENTES

@{
    ViewBag.Title = "DataContact";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<h2>DataContact</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ASISTENTES</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    
        @Html.HiddenFor(x => x.ID_ASISTENTE)
        @Html.HiddenFor(x => x.RUT)
        @Html.HiddenFor(x => x.NOMBRES)
        @Html.HiddenFor(x => x.APELLIDO_PATERNO)
        @Html.HiddenFor(x => x.APELLIDO_MATERNO)
        @Html.HiddenFor(x => x.TIMESTAMP)
        @Html.HiddenFor(x => x.ID_USUARIO)


        <div class="form-group">
            @Html.LabelFor(model => model.CARGO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CARGO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CARGO, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TITULO_ACADEMICO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TITULO_ACADEMICO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TITULO_ACADEMICO, "", new { @class = "text-danger" })
            </div>
        </div>

    

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
