@model ProjectWebApp.Models.ASISTENTES

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Detalle <small></small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="col-md-3 col-sm-3 col-xs-12 profile_left">

                    <ul class="list-unstyled user_data">
                        <li>
                            <label for="name">
                                Usuarios:
                            </label> @Model.ID_USUARIO @*Capturar user de tabla Usuarios*@
                        </li>
                        <li>
                            <label for="name">
                                Rut:
                            </label>  @Model.RUT
                        </li>
                        <li>
                            <label for="name">
                                Nombres:
                            </label>  @Model.NOMBRES
                        </li>
                        <li>
                            <label for="name">
                                Apellido Paterno:
                            </label>  @Model.APELLIDO_PATERNO
                        </li>
                        <li>
                            <label for="name">
                                Apellido Materno:
                            </label>  @Model.APELLIDO_MATERNO
                        </li>
                        <li>
                            <label for="name">
                                Correo:
                            </label>  @Model.CORREO @*Capturar comuna de tabla Comunas*@
                        </li>
                        <li>
                            <label for="name">
                                Comuna:
                            </label>  @Model.COMUNAS.COMUNA @*Capturar comuna de tabla Comunas*@
                        </li>
                        <li>
                            <label for="name">
                                Dirección:
                            </label>  @Model.DIRECCION @*Capturar comuna de tabla Comunas*@
                        </li>
                        <li>
                            <label for="name">
                                Teléfono:
                            </label>  @Model.FONO @*Capturar comuna de tabla Comunas*@
                        </li>
                        <li>
                            <label for="name">
                                Título Acádemico:
                            </label>  @Model.TITULO_ACADEMICO @*Capturar comuna de tabla Comunas*@
                        </li>
                        <li>
                            <label for="name">
                                Cargo:
                            </label>  @Model.CARGO
                        </li>
                        <li>
                            <label for="name">
                                Fecha de Creación:
                            </label>  @Model.TIMESTAMP @*Mostrar valor en tipo fecha*@
                        </li>
                        <li>
                            <div class="profile_img">
                                <div id="crop-avatar">
                                    <!-- Current avatar -->
                                    <img src="data:image;base64,@System.Convert.ToBase64String(Model.USUARIOS.BINARY_IMAGE)" style="width:50%" class="img-responsive avatar-view" alt="Avatar" title="Foto dde Perfil" />
                                </div>
                            </div>
                        </li>
                    </ul>

                    <a href="/ASISTENTES/Edit/@Model.ID_ASISTENTE" class="btn btn-success"><i class="fa fa-edit m-right-xs"></i>Editar Asistente</a>
                    <br>

                </div>

            </div>
        </div>

    </div>
</div>



