@model ProjectWebApp.Models.CONTRATOS

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CONTRATOS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FECHA_INICIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_INICIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_TERMINO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_TERMINO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COSTO_ESTIMADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COSTO_ESTIMADO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOCUMENTO_GENERADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOCUMENTO_GENERADO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CORREO_ENVIADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CORREO_ENVIADO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COMENTARIOS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COMENTARIOS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ASISTENTES.RUT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ASISTENTES.RUT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRESUPUESTO.COD_SOLICITUD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRESUPUESTO.COD_SOLICITUD)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
