@model ProjectWebApp.Models.ORDEN_PAGO

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<h2>Eliminar</h2>

<h3>¿Seguro que desea eliminar este registro?</h3>
<div>
    <h4>Orden Pago</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tipo pago:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPO_PAGO)
        </dd>

        <dt>
            Monto total:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MONTO_TOTAL)
        </dd>
        <dt>
            Cuotas:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUOTAS)
        </dd>
        <dt>
            Valor por cuota:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VALOR_CUOTA)
        </dd>
        <dt>
            Estado:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTADO)
        </dd>
        <dt>
            Número de transacción:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NUMERO_TRANSACCION)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-md-6 col-md-offset-3">
                <button type="submit" class="btn btn-default" value="Delete">Eliminar</button>
                @Html.ActionLink("Volver a Listado", "Index")
            </div>
        </div>
    }
</div>
