@model ProjectWebApp.Models.ORDEN_PAGO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Detalle <small></small></h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="col-md-3 col-sm-3 col-xs-12 profile_left">

                    <ul class="list-unstyled user_data">
                        <li>
                            <label for="name">
                                Tipo pago:
                            </label> @Model.TIPO_PAGO
                        </li>

                        <li>
                            <label for="name">
                                Monto total:
                            </label>  @Model.MONTO_TOTAL
                        </li>
                        <li>
                            <label for="name">
                                Cuotas:
                            </label>  @Model.CUOTAS
                        </li>
                        <li>
                            <label for="name">
                                Valor por cuota:
                            </label>  @Model.VALOR_CUOTA
                        </li>
                        <li>
                            <label for="name">
                                Estado:
                            </label>  @Model.ESTADO
                        </li>
                        <li>
                            <label for="name">
                                Número de transacción:
                            </label>  @Model.NUMERO_TRANSACCION
                        </li>
                    </ul>

                    <a href="/ORDEN_PAGO/Edit/@Model.ID_ORDEN_PAGO" class="btn btn-success"><i class="fa fa-edit m-right-xs"></i>Editar Orden</a>
                    <br>


                </div>

            </div>
        </div>

    </div>
</div>


