@model ProjectWebApp.Models.ORDEN_PAGO

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>Orden de Pago</h3>
        </div>
        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Ir!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Editar <small></small></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <form class="form-horizontal form-label-left" method="post">
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.ID_ORDEN_PAGO)

                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                Tipo pago <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="tipo_pago" name="tipo_pago" required="required" class="form-control col-md-7 col-xs-12" value="@Model.TIPO_PAGO">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                Monto total <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="monto_total" name="monto_total" required="required" class="form-control col-md-7 col-xs-12" value="@Model.MONTO_TOTAL">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                Cuotas <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="cuotas" name="cuotas" required="required" class="form-control col-md-7 col-xs-12" value="@Model.CUOTAS">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                Valor por cuota <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="valor_cuota" name="valor_cuota" required="required" class="form-control col-md-7 col-xs-12" value="@Model.VALOR_CUOTA">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                Estado <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="estado" name="estado" required="required" class="form-control col-md-7 col-xs-12" value="@Model.ESTADO">
                            </div>
                        </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                Número de transacción <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="numero_transaccion" name="numero_transaccion" required="required" class="form-control col-md-7 col-xs-12" value="@Model.NUMERO_TRANSACCION">
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">
                                <button type="submit" class="btn btn-primary">Cancel</button>
                                <button id="send" type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                    <div class="actionBar">
                        @*<a href="#" class="buttonFinish buttonDisabled btn btn-default">Finish</a>
                            <a href="#" class="buttonNext btn btn-success">Next</a>*@
                        @Html.ActionLink("Volver a Listado", "Index", null, new { @class = "buttonPrevious btn btn-primary" })
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



