@model LexAbogadosWeb.Models.TIPO_ROL

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

@*<h2>Details</h2>

    <div>
        <h4>TIPO_ROL</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.NOMBRE_ROL)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NOMBRE_ROL)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CATEGORIA)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CATEGORIA)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID_ROL }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Detalles Tipo Rol<small></small></h2>
                @*<ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#">Settings 1</a>
                                </li>
                                <li>
                                    <a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>*@
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                    @* <div class="profile_img">
                            <div id="crop-avatar">
                                <!-- Current avatar -->
                                <img src="data:image;base64,@System.Convert.ToBase64String(Model.BINARY_IMAGE)" style="width:50%" class="img-responsive avatar-view" alt="Avatar" title="Foto dde Perfil" />
                            </div>
                        </div>
                        <h3>@Model.USER</h3>*@

                    <ul class="list-unstyled user_data">
                        <li>
                            <label for="name">
                                Nombre rol:
                            </label> @Model.NOMBRE_ROL
                        </li>

                        <li>
                            <label for="name">
                                Categoria:
                            </label>  @Model.CATEGORIA
                        </li>
                    </ul>

                    <a href="/TIPO_ROL/Edit/@Model.ID_ROL" class="btn btn-success"><i class="fa fa-edit m-right-xs"></i>Editar Rol</a>
                    <br>

                    <!-- start skills -->
                    @*<h4>Skills</h4>
                        <ul class="list-unstyled user_data">
                            <li>
                                <p>Web Applications</p>
                                <div class="progress progress_sm">
                                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50" aria-valuenow="50" style="width: 50%;"></div>
                                </div>
                            </li>
                            <li>
                                <p>Website Design</p>
                                <div class="progress progress_sm">
                                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="70" aria-valuenow="69" style="width: 70%;"></div>
                                </div>
                            </li>
                            <li>
                                <p>Automation &amp; Testing</p>
                                <div class="progress progress_sm">
                                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="30" aria-valuenow="29" style="width: 30%;"></div>
                                </div>
                            </li>
                            <li>
                                <p>UI / UX</p>
                                <div class="progress progress_sm">
                                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50" aria-valuenow="50" style="width: 50%;"></div>
                                </div>
                            </li>
                        </ul>*@
                    <!-- end of skills -->

                </div>

            </div>
        </div>

    </div>
</div>

